<ion-header>
<ion-toolbar>
  <ion-title>signUp</ion-title>
</ion-toolbar>
</ion-header>

<ion-content padding>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Company Name</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="name" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Contact Name</ion-label>
      <ion-input type="text" name="contactName" [(ngModel)]="contactName" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Contact Number</ion-label>
      <ion-input type="text" name="contactNumber" [(ngModel)]="contactNumber" pattern="[0-9]{12}" required> </ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Attendance Server</ion-label>
      <ion-input type="text" name="handleCompanyWebHook" [(ngModel)]="handleCompanyWebHook" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>HRLoginLogOut URL</ion-label>
      <ion-input type="text" name="webHookInOutUrl" [(ngModel)]="webHookInOutUrl" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Subdomain</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="subdomain" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Product Type</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="productType" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Company Logo</ion-label>
      <ion-input type="text" name="name" [(ngModel)]="image" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Biometric Id</ion-label>
      <ion-input type="text" name="biometricId" [(ngModel)]="biometricId"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>
<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="email" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
    <ion-item>
      <ion-label>Password </ion-label>
      <ion-input type="password" name="Password" [(ngModel)]="password" required></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<ion-row>
  <ion-col class="tac">
    <ion-button (click)="companySignUp()">
      Create Company
    </ion-button>
  </ion-col>
</ion-row>
</ion-content>
