<ion-app>
  <!-- <ion-menu side="start" menuId="leftNav" contentId="body">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Start Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
      <ion-item>Menu Item</ion-item>
    </ion-list>
  </ion-content>
</ion-menu> -->

  <ion-header>
    <ion-toolbar>
      <ion-item button slot="start" lines="none">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-select
          interface="popover"
          value="realloc"
          okText="Okay"
          cancelText="Dismiss"
        >
          <ion-select-option value="realloc"
            >IDA19 After Reallocations</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item button slot="end" lines="none">
        <ion-icon name="search-outline"></ion-icon>
      </ion-item>

      <ion-item button slot="end" lines="none">
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-item>
    </ion-toolbar>

    <ion-toolbar>
      <ng-container *ngTemplateOutlet="topRefinerRpl"></ng-container>
    </ion-toolbar>
  </ion-header>

  <ion-router-outlet></ion-router-outlet>

  <ng-template #topRefinerRpl>
    <ion-row class="ion-nowrap">
      <ion-col class="col-auto">
        <ion-segment
          value="SDR"
          color="primary"
          mode="ios"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="USD">
            <ion-label>USD</ion-label>
          </ion-segment-button>
          <ion-segment-button value="SDR">
            <ion-label>SDR</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ion-col class="col-auto">
        <ion-segment
          value="actual"
          color="primary"
          mode="ios"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="actual">
            <ion-label>Actual</ion-label>
          </ion-segment-button>
          <ion-segment-button value="pipeline">
            <ion-label>Actual + Pipeline</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ion-col class="col-auto">
        <ion-segment
          value="commitment"
          color="primary"
          mode="ios"
          (ionChange)="segmentChanged($event)"
        >
          <ion-segment-button value="commitment">
            <ion-label>Commitments</ion-label>
          </ion-segment-button>
          <ion-segment-button value="utilization">
            <ion-label>Utilization</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
  </ng-template>

  <!-- <ion-footer slot="end">
  <ion-toolbar>
    <ion-segment value="tab1" color="secondary" mode="md" [scrollable]="true" (ionChange)="segmentChanged($event)">
      <ion-segment-button value="tab1">
        <ion-icon name="newspaper-outline"></ion-icon>
        <ion-label>Summary</ion-label>
      </ion-segment-button>

      <ion-segment-button value="tab2">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Windows</ion-label>
      </ion-segment-button>

      <ion-segment-button value="tab3">
        <ion-icon name="earth"></ion-icon>
        <ion-label>Region</ion-label>
      </ion-segment-button>

      <ion-segment-button value="tab4">
        <ion-icon name="globe-outline"></ion-icon>
        <ion-label>Country</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer> -->
</ion-app>
