<ion-split-pane>
  <ion-menu>
    <ion-nav swipeBackEnabled="false" main>
      <ion-content class="hScroll bgDarkBlue">
        <app-split-pane-item
          [val]="items"
          StingName="actionName"
          (callFunction)="manageActionForPermission($event)"
          (callKeyupEnter)="searchManageActionForPermission('')"
        ></app-split-pane-item>
      </ion-content>
    </ion-nav>
  </ion-menu>
  <ion-content main>
    <h4 *ngIf="selectedAction == ''" class="tac top smallCaps">
      Please select Action from left menu to view Action Permission
    </h4>
    <ion-row class="p15p upperCase" *ngIf="selectedAction != ''">
      <h3 class="mediumFont">{{ selectedAction }}</h3>
    </ion-row>
    <ion-row class="h20" *ngIf="selectedAction != ''">
      <h3 class="smallFont">{{ description }}</h3>
    </ion-row>
    <ion-row *ngIf="selectedAction != ''">
      <ngx-datatable
        [headerHeight]="50"
        [footerHeight]="60"
        [rowHeight]="50"
        [rows]="listOfActionPermission"
        columnMode="force"
        [scrollbarV]="true"
        class="ngx-datatable.scroll-vertical"
      >
        <ngx-datatable-column prop="permissionName" [flexGrow]="6">
          <ng-template
            let-row="row"
            let-value="value"
            ngx-datatable-cell-template
          >
            {{ value }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </ion-row>
  </ion-content>
</ion-split-pane>
